p {text-align:justify; text-justify:auto;}
#title {border-bottom: 2px solid black; margin-bottom: 30pt;}
#body {margin: 5% 5% 10% 5%; font-family: serif;}
#signature {text-align: right; padding-right: 10%; padding-top: 5%;}
